@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body {
    background-color: #fffefe;
    color: #343536;

    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;

   /* font: normal 16px 'Roboto', sans-serif;*/

}

.avatar {
     width: 200px;
     border-radius: 50px;
     box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
}

.info p {
    color: seagreen;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /* text-transform: uppercase;*/
}

.social {
    background: rgb(245, 154, 80);
}